
:root {
    --appHorizontalSpacing: 15px;
    --appVerticalSpacing: 15px;
    --appElementSpacing: 15px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--orange-50);

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--surface-400);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange-500);
    border-radius: 10px;
}


.app-chip {
    border-radius: 6px;
    padding: 5px;
    background-color: var(--orange-100);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-chip-selected {
    background-color: var(--orange-400);
}


/* for larger than tablet */
@media (min-width: 1000px) {

}

/* for tablet */
@media (max-width: 1000px) {

}


/* for larger than mobile */
@media (min-width: 450px) {

}

/* for mobile */
@media (max-width: 450px) {

}
